<nav class="bg-black p-4 shadow-lg px-8">
    <div class="container mx-auto flex justify-between items-center">

        <div class="text-white text-2xl font-bold">
            <a routerLink="/home" class="text-white text-lg font-medium hover:text-blue-300 transition duration-300 ease-in-out">Let's Talk</a>
        </div>

        <div class="space-x-4">
            <a routerLink="/form" class="text-white text-lg font-medium hover:text-yellow-300 transition duration-300 ease-in-out">Form</a>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>